@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro&display=swap');

/*
? font-family: 'Open Sans', sans-serif;
? font-family: 'Source Sans Pro', sans-serif;
*/

html,
body,
* {
  scrollbar-width: none;
  -o-scrollbar-width: none;
  -ms-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -webkit-scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #92aa83;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
input,
a,
button {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  max-width: 100vw;
  margin: 0 auto;
}

.App header {
  background: linear-gradient(75deg, #274c77 10%, #a3cef1);
  height: 80px;
  min-height: 50px;
  color: #e0fbfc;
  position: fixed;
  width: 100%;
  min-width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Source Sans Pro', sans-serif !important;
}

.App section {
  display: flex;
  background: linear-gradient(-65deg, #cfe5ff 10%, #ffffff);
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  padding: 10px;
  top: 70px;
  bottom: 90px;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

form {
  height: 60px;
  position: fixed;
  bottom: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  font-size: 1.5rem;
  right: 5px;
}

form button {
  background: #1c3144;
  font-size: 1.4rem;
  padding: 0.85rem 1.15rem;
  border-radius: 50px;
  margin-right: 10px;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.25rem;
  background: rgba(39, 76, 119, 0.75);
  color: #ffffff;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: text;
  transition: background 250ms ease;
}

input:hover {
  cursor: pointer;
  background: rgba(39, 76, 119, 0.9);
}

input:active,
input:focus {
  background: rgba(39, 76, 119, 1);
  cursor: text;
}

input::placeholder {
  color: #ffffff85;
}

button {
  background-color: rgb(39, 76, 119);
  border: none;
  color: white;
  padding: 0.75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  transition: opacity 150ms ease-in-out, background 250ms ease, color 150ms ease;
  border-radius: 7.5px;
  outline: none;
  -webkit-tap-highlight-color: #ffffff00;
  box-shadow: 0.15rem 0.15rem 0.5rem 0.1rem #00000030;
}

button:hover {
  background: rgba(39, 76, 119, 0.8);
  color: #fff;
}

button:disabled {
  cursor: pointer;
  pointer-events: none;
}
button:disabled:hover {
  filter: brightness(1);
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
  font-size: 1em;
}

.sent p {
  color: #e0fbfc;
  background: #293241;
  align-self: flex-end;
}
.received p {
  background: #3e7cb9;
  color: #ffffff;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media (max-width: 720px) {
  form {
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: calc(100vw - 20px);
    height: 55px;
    margin: 10px;
    justify-content: space-evenly;
  }
  form input {
    font-size: 1.1rem;
  }
  form button {
    margin: 0;
  }
}

::selection {
  background: #274c77;
  color: #ffffff;
}
